
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../resources/fonts/JosefinSans-Regular.ttf);
}

html
{
   width: 360 px;
   height: 640 px;
   /* margin: 0;
   padding: 0; */
   overflow-x: hidden;
   overflow-y: hidden;
   /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
   background-color: transparent; */
    
}
body {
    /* -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius: 40px; */
   /* border-radius: 10px; */
    width: 360 px;
     height: 640 px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-color: transparent;
    -webkit-app-region: drag;
}

img:hover {
    /* -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px rgb(238, 12, 12);
    -webkit-transition: all .2s ease;
    transition: all .2s ease; */
  /* -webkit-box-shadow: inset 3px 4px 122px 23px rgba(38, 35, 38, 1);
  -moz-box-shadow: inset 3px 4px 122px 23px rgba(38, 35, 38, 1);
  box-shadow: inset 3px 4px 122px 23px rgba(38, 35, 38, 1); */
}
.ineer-container
{
      /* border-radius: 10px; */
    margin-top: 20px;
    margin-left: 27px;
    padding-left: 20px;
    /* background: #6938; */
    color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    height: 250px;
    width: 300px;
    overflow: hidden;

}
.city-name
{
/*    font-family: 'Times New Roman', Times, serif;*/
    font-family: 'Josefin Sans', sans-serif;
/*    font-style: normal;*/
    width: 360px;
    font-size-adjust: auto;
    font-size: auto;
    color: white;
    text-align: center;
    margin-top: -13px;
  
}

.city-info
{
    width: 100%;
    height: auto;
}

.temperature{
    color: white;
    font-size: 50px;
}
#humidity{
    /* margin-left: -20px; */
    

}
.main-logo
{
    margin-top: 20px;
    margin-left: 67px;

    height: 128px;
    width: 128px;

}
#img-wind{
    margin-left: 10px;
}


.temp-info
{
    margin-top: none;
    /* background-color: black; */
}
.btn-update
{
    margin-top: -8px;
    background-color: none;
    margin-left: 138px;
    -webkit-app-region: no-drag;
 
}

#temp{
    margin-left: 7px;
}
.mycol{
    /* margin-left: 0px; */
    width: 33.3%;
}
#humidity{
    /* margin-left: 0px; */
    margin-right: -20px;
    padding-right: -10px;
}
.a:hover
{
    background-color: tomato;
}
.my-card {
    height: 400px;
    width: 100%;
    /* background: rgba(248, 57, 9, 0.6); */
    /* background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    /* background-color: #b0a8b9; */
    overflow: hidden;
}

.my-card-bottom {
    height: auto;
/*     background: #222; */
    width: auto;
    overflow: hidden;
}
.tommorow,.next{
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
    height: 50px;
    width: 50%;
    
}

.col-4 {
    height: 100px;
}

.card {
    height: 100px;
    width: 100px;
    background: none;
/*    margin-bottom: 10px;*/
}

.card-style {
    height: 100px;
    width: 100px;
    padding:none ;
/*
 margin-right: 6px;
    color: aliceblue;
    border-right-width: thick;
    border-right-style: solid;
    border-bottom-right-radius: 3px;
    border-color: aqua;
*/
}

.temperature {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: -20px;
}

.max-min {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    background-color: none;
    /* margin-bottom: -90px; */
    
    
}

.day-col {
    height: 50px;
    width: 100px;
    margin-right: 22px;
    text-align: center;
    text-decoration-style: solid;
    
    
/*    background-color: green;*/
    color: aliceblue;
}


.setting-icon {
    align-content: flex-end;
    align-self: flex-end;
    text-align: right;
}
#hum-text{
    margin-left: -10px;
}

.others {
    text-align: center;
    padding-top: 2.5px;
    height: 30px;
    width: 33.3%;
    color: green;

    background-color: aliceblue;

}

.days {
    background-color: black;
    text-align: center;
    color: red;
}



.essential {
    height: 6px;
    width: 20px;
    background-color: aqua;
}

.time {
    text-decoration-color: aliceblue;
    color: white;
    text-shadow: 1px 2px grey;
    font-size: 30px;
  font-size-adjust: auto;
/*    font-weight: 200px;*/
 font-family: 'Josefin Sans', sans-serif;
    
}
